.options-tabs {
    display: inline-flex;
    background: #1E1E2D;
}

.options-popover {
    display: none;
    background-color: #1E1E2D;
    padding: 0.6rem;
    border-radius: 5px;
    border: solid 1px #434359;
    position: relative;
}

.options-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
    cursor: pointer;
}

.options-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
}

.options-item.active {
    display: none;
}

.options-container {
    padding-top: 0.5rem;
    position: absolute;
    z-index: 1;
    background: #1E1E2D;
    padding: 1.2rem;
    left: -0.1rem;
    width: 8.4rem;
    border-bottom: solid 1px #434359;
    border-left: solid 1px #434359;
    border-right: solid 1px #434359;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popover-options {
    display: none;
}

@media (max-width: 1605px) {
    .options-tabs {
        display: none !important;
    }

    .options-popover {
        display: block;
    }

    .popover-options {
        display: block;
    }
}

.options-tab {
    padding: 1.2rem;
    border: solid 1px #434359;
    cursor: pointer;
}

.options-tab:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.options-tab:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.options-tab.active {
    background: linear-gradient(to right, #451EC1, #6030F8);
    color: #ffffff
}

.options-header {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.options-panel-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-basis: auto;
    box-sizing: border-box;
    position: relative;
    max-height: 34rem;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

@media (max-width: 1100px) {
    .options-panel-container {
        max-height: 27rem !important;
    }
}

.options-panel-container-calls {
    border-top: solid 0.1px #434359;
    border-bottom: solid 0.1px #434359;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    width: 45%;
    /* min-width: 65rem; */
    min-width: 464px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: medium;
    color: #ffffff4f;
    text-align: center;
}

.options-panel-container-calls.active {
    width: 100%;
    min-width: auto;
}

.options-panel-container-calls div {
    width: 14%;
    background-color: #292b3b;
}

.options-panel-container-header {
    display: block;
    position: sticky;
    top: 0;
    background: #292b3b;
}

.options-panel-container-header-type {
    display: flex;
    width: 100%;
}

.options-panel-container-header-type div:first-child {
    width: 45%;
    /* min-width: 65rem; */
    min-width: 464px;
    padding: 0.5rem 0.2rem;
    justify-content: center;
    display: flex;
    align-items: stretch;
    border-top: solid 0.1px #434359;
    font-size: large;
    background: #292b3b;
}

.options-panel-container-header-type div:last-child {
    width: 45%;
    /* min-width: 65rem; */
    min-width: 464px;
    padding: 0.5rem 0.2rem;
    justify-content: center;
    display: flex;
    align-items: stretch;
    border-top: solid 0.1px #434359;
    font-size: large;
    background: #292b3b;
}

.options-panel-container-header-type div:nth-child(2) {
    width: 10%;
    /* min-width: 15rem; */
    min-width: 103px;
    display: flex;
    justify-content: center;
    border-top: solid 0.1px #434359;
    padding: 0.5rem 0.2rem;
    align-items: stretch;
    border-right: solid 0.1px #434359;
    border-left: solid 0.1px #434359;
    font-size: large;
    background: #292b3b;
}


.options-panel-container-strike {
    padding: 0.5rem 2.2rem;
    border: solid 0.1px #434359;
    width: 10%;
    /* min-width: 15rem; */
    min-width: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff4f;
    background: #292b3b;
}

.options-panel-container-puts {
    border-top: solid 0.1px #434359;
    border-bottom: solid 0.1px #434359;
    align-items: center;
    width: 45%;
    /* min-width: 65rem; */
    /* align-items: stretch; */
    min-width: 464px;
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: medium;
    color: #ffffff4f;
    text-align: center;
    background: #292b3b;
}

.options-panel-container-puts.active {
    width: 100%;
    min-width: auto;
}

.options-panel-container-puts div {
    width: 14%;
    background: #292b3b;
}

.options-panel-container-header-second {
    display: flex;
}

.options-panel-container-puts-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 45%;
    min-width: 464px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: medium;
    color: #ffffff;
    text-align: center;
}

.options-panel-container-puts-item.active {
    width: 100%;
    min-width: auto;
}

.options-panel-container-puts-item div {
    width: 14%;
}

.options-panel-container-strike-item {
    padding: 0.5rem 2.2rem;
    border-left: solid 0.1px #434359;
    border-right: solid 0.1px #434359;
    width: 10%;
    /* min-width: 15rem; */
    min-width: 103px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.options-panel-container-calls-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 45%;
    /* min-width: 65rem; */
    min-width: 464px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: medium;
    color: #ffffff;
    text-align: center;
}

.options-panel-container-calls-item.active {
    width: 100%;
    min-width: auto;
}

.options-panel-container-calls-item div {
    width: 14%;
}

.options-panel-container-calls-item div:nth-child(5) {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #EB2C2C !important;
    cursor: pointer;
}

.options-panel-container-calls-item div:nth-child(6) {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #3FC11E !important;
    cursor: pointer;
}

.options-panel-container-puts-item div:nth-child(2) {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #EB2C2C !important;
    cursor: pointer;
}

.options-panel-container-puts-item div:nth-child(3) {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #3FC11E !important;
    cursor: pointer;
}

.options-panel-container-center {
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
}

.options-panel-container-strike-center {
    position: absolute;
    /* left: 62rem; */
    display: flex;
    width: 20rem;
    left: calc(50% - 10rem);
    /* text-align: center; */
    justify-content: center;
    height: 5rem;
    align-items: center;
    background: #292b3b;
    border: solid 0.1px #434359;
    z-index: -1;
}

.options-panel-container-strike-center.active {
    left: calc(50% - 10rem);
}

.options-panel-container-divider-line {
    /* min-width: 145rem; */
    min-width: 1031px;
    width: 100%;
    margin: auto 0;
    border-top: solid 0.1px #434359;
    z-index: -2;
}

.options-panel-container-divider-line.active {
    min-width: auto;
}

.options-panel-container-header-type-select {
    min-width: auto !important;
    width: 100% !important;
}