.Search-input {
  padding: 0;
  cursor: pointer;
  border: 1px solid #2D3043;
  position: relative;
  background: #1E1E2D;
  border-radius: 4px;
  text-align: left;

  .Tokenselector-search-input {
    font-size: 1.6rem;
    background-position: 12px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 1rem 3rem 1rem 1rem;
    width: 98%;
    background-position: right;
    background-color: #1E1E2D;
    border-radius: 4px;
  }
  .Tokenselector-search-input::placeholder {
    color: var(--dark-blue-accent);
  }

  &_size_s .Tokenselector-search-input {
    font-size: 1.3rem;
    padding: 0.85rem 1rem 0.85rem 3.4rem;
    background-size: 1.5rem;
  }
}
